---
layout: layouts/home.njk
eleventyNavigation:
  key: "SecBits (Blog)"
  order: 2
---
<h1>Posts</h1>

{% set postslist = collections.posts %}
{% set postslistCounter = postslist | length %}
{% include "postslist.njk" %}
